@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
button{
    background: none;
    
}
button:focus {border: none;}
input:focus {outline: none;}
.App{
    overflow-x: hidden;
    color: #353536;
}
a{
    text-decoration: none;
    color: #fff;
}

.back-img{
    background: url(../assets/back1.png);
    width: 100vw;
    height: 908px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    margin-top: -35px ;
}

.longBtnHover{
    transition: all 0.1s;
}
.longBtnHover:hover{
    background: #48B0EC;
}

.longBtnHover:hover .ServicesLink {
    color: #fff;
}
.longBtnHover:hover .longImg2{
    visibility: visible;
}
.longBtnHover:hover .longImg1{
    visibility: hidden;
}
.ServicesLink{
    transition: all 0.1s;
}
.longImg2
{
    visibility: hidden;
    z-index: 5;
}
.longBtnHover2{
    transition: all 0.1s;
}
.longBtnHover2:hover .longBtnLink{
    color: black;
}
.longBtnHover2:hover{
    background-color: #fff;
}
.longBtnHover2:hover .newsBtn a{
    color: #fff;
}
.newsBtn .longImg2{
    position: absolute;
    margin-left: 0px;
    margin-top: 1px;

}
.newsBtn .longImg1{
    position: absolute;
    margin-top: 1px;
}
.newsBtn a{
    color: #fff;
}
.longBtnHover2:hover .longImg2{
    visibility: visible;
}
.longBtnHover2:hover .longImg1{
    visibility: hidden;
}