@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.app{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #fff;
    
}

.back-img{
    background: url(../assets/back1.png);
    width: 100vw;
    height: 908px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    margin-top: -35px ;
}


